html body {
    /* background-color: black; */
    background-image: url("../images/huokan1.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navDiv a {
    color: grey;
}

.container {
    height: 100%;
    display: flex;
}

button {
    /* padding-top: 100px; */
    padding: 100px;
}

.submissionTip {
    color: white;
}

.mainInput {
    margin: 100px;
    background-color: rgb(35, 35, 35, 0.75);
    border: 5px solid black;
}

.navbarMain {
    margin: 100px;
    background-color: rgb(35, 35, 35, 0.75);
    border: 5px solid black;
}

#submissionInfo {
    margin: 5%;
    font-weight: bold;
}

.finalResult {
    margin: 100px;
    background-color: rgb(35, 35, 35, 0.75);
    border: 5px solid black;
}

.finalResult p {
    font-weight: bold;
    color: white;
}

#dbInfo {
    margin: 5%;
    font-weight: bold;
    color: white;
}

.duplicateResult {
    margin: 100px;
    background-color: rgb(35, 35, 35, 0.75);
    border: 5px solid black;
}

.duplicateResult p {
    font-weight: bold;
}

.table {
    font-weight: bold;
    color: white;
}

.termsContent {
    margin: 100px;
    background-color: rgb(35, 35, 35, 0.75);
    border: 5px solid black;
    font-weight: bold;
    color: white;
    background-image: url("../images/huokan1.PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}