{% extends 'base.html' %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="static/css/base.css">
<script src="static/js/downloadCSV.js" ></script>
<script src="static/js/exportTableToCSV.js"></script>
{% endblock %}

{% block app_content %}
<div class="container finalResult">
    <p>This customer is already in the Huokan database.<br>
    Please use the customer's existing ID.<br>
    </p>
    <table class="table" id="IDTable">
        <thead>
            <tr>
                <th scope="col">Existing Customer ID</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Enrolled On</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{existing_info[1]}}</th>
                <td>{{existing_info[0]}}</td>
                <td>{{existing_info[2]}}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success btn-small" onclick="exportTableToCSV('huokan_customer_id-{{customer_uuid}}.csv')">Download Customer ID</button>
</div>
{% endblock %}